<% if (on_shelf) { %>

  <button type="button" class="btn btn-danger remove" data-shelf-id="<%= shelf.attributes.id %>">Remove from <%= shelf.attributes.name %></button>
<% } else { %>
  <!-- Split button -->
  <div class="btn-group add-to">
    <button type="button" class="btn btn-success now" data-shelf-id="<%= to_read.id %>">Want to Read!</button>
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
     <ul class="dropdown-menu" role="menu">
      <% shelves.each(function(shelf) { %>
      <li class="shelf-select">
        <a href="#" data-shelf-id="<%= shelf.id %>">
          <%= shelf.escape('name') %>
        </a>
      </li>
      <% }) %>
      <!-- <li class="divider"></li>
      <li><a href="#">Add New Shelf</a></li> -->
    </ul>
  </div>
<% } %>