<div class="shelf-item">

    <% if (model.escape('name') === 'Currently Reading') { %>
      <h2>Have you finished any of these? <small><a href="#/shelves/<%= model.id %>"><%= model.escape('name') %> (<%= model.books().length %>)</a></small></h2>
    <% } else if (model.escape('name') === 'To Read') { %>
      <h2>Have you started any of these? <small><a href="#/shelves/<%= model.id %>"><%= model.escape('name') %> (<%= model.books().length %>)</a></small></h2>
    <% } else if (model.escape('name') === 'Read') { %>
      <h2>Anything you want to add? <small><a href="#/shelves/<%= model.id %>"><%= model.escape('name') %> (<%= model.books().length %>)</a></small></h2>
    <% } else { %>
      <h2><%= model.escape('name') %> (<%= model.books().length %>)</h2>
    <% } %>

    <div class="well">
      <div class="my-carousel my-carousel-<%= model.id %> carousel slide ">
        <div class="book-grid carousel-inner">

        </div>
        <a class="left carousel-control" href=".my-carousel-<%= model.id %>" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
        <a class="right carousel-control" href=".my-carousel-<%= model.id %>" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
      </div>
    </div>

</div>