<div class="book-list-item-left">
  <img src="<%= book.escape('img_url_small') %>">
  <div class="book-add-to-shelf-btn">
  </div>
</div>
<div class="book-list-item-right">
  <h4><a href="#/books/<%= book.id %>"><%= book.escape('title') %></a></h4>
  <strong>Author</strong>: <%= book.escape('author') %><br>
  <strong>ISBN</strong>: <%= book.escape('isbn') %>
  <h4>Description</h4>
  <%= book.get('description') %>
</div>