<!DOCTYPE html>
<html>
  <head>
    <title>Shelvesy .:. What's on your bookshelf?</title>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700|Open+Sans:400italic,400,600,700,300,800' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="notifications">
      <%= render partial: "layouts/notifications" %>
    </div>
    <%= render partial: "layouts/header" %>
    <div class="container">
      <%= yield %>
    </div>
    <%= render partial: "layouts/footer" %>
    <div class="loading-modal"></div>
  </body>
</html>
